body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #000000, #292929, #4d4d4d, #757575, #a0a0a0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#door {
  margin-left: 27vw;
 width: 300px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

#reset {
  margin-left: 1vw;

}